/*
Сбрасываем стили браузера
 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

.wrapper {
    padding-top: 40px;
}
.wrapper p {
    font-family: sans-serif;
    font-size: 20px;
}
.logo img {
    width: 30px;
    height: 30px;
    object-fit: cover;

}
.logo span {
    font-size: 34px;
    font-family: sans-serif;
}
.logo:after {
    content: "";
    border-bottom: 2px solid #000000;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.card {
    display: inline-block;
    font-family: sans-serif;
    margin-top: 50px;
}
.card__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card__university {
    color: #a2a2a2;
}

.popup_card{
    position: absolute;
    border: 1px solid #8b8b8b;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(48, 50, 50, 0.64);
    -moz-box-shadow:    0px 0px 12px 3px rgba(48, 50, 50, 0.64);
    box-shadow:         0px 0px 12px 3px rgba(48, 50, 50, 0.64);
    padding: 40px 10px 10px 10px;
    top: 40%;
    left: 40%;
    width: 500px;
    background-color: rgb(113, 200, 172);
}
.popup-card__student_image {
    border-radius: 20%;
}
.popup-card__surname {
    font-size: 30px;
}
.popup-card__university {
    color: #a22a05;
}
.popup-card__image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.popup-card__close {
    transition: all 0.5s;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.popup-card__close:hover {
    opacity: 1;
}
.popup-card__close:before, .popup-card__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000000;
}
.popup-card__close:before {
    transform: rotate(45deg);
}
.popup-card__close:after {
    transform: rotate(-45deg);
}

@media (max-width: 479px) {
    .card {
        width: 100%;
    }
}
@media (min-width: 480px) {
    .card {
        width: 49%;
    }
}
@media (min-width: 900px) {
    .card {
        width: 33%;
    }
}